* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(/images/esa.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
  padding: 0.1% 10%;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: fixed;
  z-index: 999;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  align-items: center;
  position: relative;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  position: center;
  align-items: center;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #a0dbf2;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.7s;
  align-items: center;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 15%;
}
.header-text h1 {
  font-size: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-text h1 span {
  color: #080808;
  background-color: #a0dbf2;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
}
.header-text h1 span:hover {
  color: #f0f8ff;
  background-color: #023e73;
}

/* -----------about--------------- */
#about {
  padding: 100px 50px;
  color: #ababab;
  margin-top: 200px;
  margin-bottom: 200px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.about-col-1 {
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
}
.about-col-1 img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
p {
  text-align: justify;
  margin-bottom: 20px;
  font-size: 20px;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
}
a.about-button {
  background-color: #41aed9;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 15px;
  transition: transform 0.5s;
}
a.about-button:hover {
  background-color: #023e73;
  transform: scale(1.1);
}

/* -------portfolio----------- */
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 1%;
}
.work {
  border-radius: 10px;
  position: relative;
  filter: grayscale(1);
  transition: 0.25s ease;
  transition: transform 0.5s;
  margin-bottom: 0.1%;
}
.work:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: grayscale(0);
}
.link-porto {
  text-decoration: none;
}
.work img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  display: block;
}
.work h3 {
  font-size: 24px;
  text-align: center;
  color: #a0dbf2;
}
.work p {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

/* -----------------css for small screens--------- */

@media only screen and (max-width: 800px) {
  #header {
    background-color: #080808;
  }
  .header-text {
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
  }
  .header-text h1 {
    font-size: 25px;
  }
  nav .fas {
    display: block;
    font-size: 20px;
  }
  nav ul {
    background: black;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 30px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 16px;
  }
}
